.header{
    background-color: var(--mainGreen);
    color: #fff;
}
.navbar-brand{
    font-size: 40px;
    font-weight: 400;
    color: #ffff;
}
.nav-item{
    .nav-link{
        color: white;
        size: 20px;
    }
}